<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSCalendarsUsageDescription</key>
  <string>Calendo uses your calendars to show your next meeting in the menu bar.</string>
  <key>NSCalendarsFullAccessUsageDescription</key>
  <string>Calendo uses your calendars to show your next meeting in the menu bar.</string>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.productivity</string>
</dict>
</plist>
